<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
 
<add name="UserRegistrationEntities" connectionString="metadata=res://*/Model.OnlinePurchase.csdl|res://*/Model.OnlinePurchase.ssdl|res://*/Model.OnlinePurchase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QWINIX-PC;initial catalog=UserRegistration;user id=sa;password=12345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>